<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Salvo!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div class="container">
    <h1>
        Games!
    </h1>
<div id="games">
    <ol >
        <li v-if="isLoaded" v-for= "game in games">
           <span class="player">{{game.created}}: </span> 
           <span class="player">{{game.gamePlayers[0].player.email}},</span>
        </li>
    </ol>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="games.js"> </script>
</body>
</html>

<span class="player"> {{game.gamePlayers[1].player.email}};</span>

