<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <title>Salvo!</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div class="container" id="games">
        <div v-if="login && !currentPlayer" class="signup">
            <div class="field">
                <label for="email">Email: </label>
                <input type="email" name="email" v-model="email">
            </div>
            <div class="field">
                <label for="password">Password: </label>
                <input type="password" name="password" v-model="password">
            </div>
            <p v-if="feedback" class="feedback">{{feedback}}</p>
            <div class="field">
                <button @click="signup" class="button">Signup</button>
            </div>
            <div class="field">
                <button @click="fetchAuthenticationInfo" class="button">Log in</button>
            </div>
        </div>
        <div v-if="logout || currentPlayer" class="logout">
            <span class="player-logged-in">{{email}}</span>
            <div class="field logout-field">
                <button   @click="createNewGame" class="new-game-button">New Game</button>
            </div>
            <span v-if="feedbackGameCreated">{{feedbackGameCreated}}</span>
            <div class="field logout-field">
                <button @click=" fetchLogoutInfo" class="button">Log out</button>
            </div>
        </div>
        <div id="games-overview">
            <div class="table">
                <table>
                    <tr>
                        <th class="player-list">
                            N
                        </th>
                        <th class="player-list">
                            Started
                        </th>
                        <th class="player-list">
                            Players
                        </th>
                        <th class="player-list">
                            Status
                        </th>
                    </tr>
                    <tbody>
                        <tr v-if="isLoaded" v-for="(game, index) in gamesObjectForHTML">
                            <td class="player-list">
                                {{index+1}}
                            </td>
                            <td class="player-list">
                                {{game.started}}
                            </td>
                            <td class="player-list">
                                {{game.gamePlayer1}} {{game.gamePlayer2}}
                            </td>
                            <td class="player-list">
                            <a v-bind:href="game.url">
                                <button v-bind:id="game.gameId" class="button-in-the-table">{{game.statusFeedback}}</button>
                            </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div id="leaderboard">
            <div class="table">
                <table>
                    <tr>
                        <th class="player-list">Player</th>
                        <th class="player-list">Total</th>
                        <th class="player-list">Won</th>
                        <th class="player-list">Lost</th>
                        <th class="player-list">Tied</th>
                    </tr>
                    <tbody>
                        <tr v-for="element in leaderboard">
                            <td class="player-list">{{element.name}}</td>
                            <td class="player-list">{{element.total}}</td>
                            <td class="player-list">{{element.won}} </td>
                            <td class="player-list">{{element.lost}}</td>
                            <td class="player-list">{{element.tied}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="games.js"> </script>
</body>

</html>



