<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./styles.css">
    <title>Ship Locations!</title>
</head>

<body>
    <div class="container" id="game">
        <div v-if="isLoaded" class="left">
            <button class="player"> {{gamePlayerYou}}</button>
            <img class="moving-ship-you-lose" src="assets/battleship.pur.png" style="height:40px" alt="">
        </div>
        <div v-if="message" class="center"><span>{{message}}</span></div>
        <div class="your-shot"><img  src="assets/bang.purple.png" alt=""></div>
        <div class="opponent-shot"><img  src="assets/bang.green.png" alt=""></div>
        <div class="firework-left"><img  src="assets/firework.purple.png" alt=""></div>
        <div class="firework-right"><img  src="assets/firework.green.png" alt=""></div>
        <div v-if="isLoaded" class="right">
            <img class="moving-ship-enemy-win" src="assets/battleship.gr-ConvertImage.png" style="height:40px" alt="">
            <button class="player"> {{gamePlayerOther}}</button>
        </div>
        <div v-if="shipsPlaced" class="shipG">
            <table class="table">
                <tr>
                    <th class="cell letter" v-for="tableRow in tableRows" scope="row">{{tableRow}} </th>
                </tr>
                <tr v-for="(tableCol, index) in tableCols">
                    <td class="cell letter">{{tableCol}} </td>
                    <td class="empty_cell" v-bind:id="tableCol+'1'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'2'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'3'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'4'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'5'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'6'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'7'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'8'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'9'"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'10'"></td>
                </tr>
            </table>
        </div>
        <div class="hits-and-sinks-table-you" v-if="shipsPlaced">
            <table class="ship-placement-table ship-placement">
                <thead>
                    <tr>
                        <!--th v-for="item in hitsAndSinksTableHeader" class="empty_cell" scope="row">{{item}}</th>
                        <th class="empty_cell" scope="row" v-for="(turn, index) in hitsAndSinksObjectYou">{{index}} </th-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/carrier.pur.png" alt="">
                        </td>
                        <td v-for="(turn, index) in hitsAndSinksObjectYou" class="empty_cell" class="cell letter"
                            v-if="turn.carrier.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove" style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/battleship.pur.png" alt="">
                        </td>
                        <td v-for="(turn, index) in hitsAndSinksObjectYou" class="empty_cell" class="cell letter"
                            v-if="turn.battleship.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/submarine.pur.png" alt="">
                        </td>
                        <td v-for="(turn, index) in hitsAndSinksObjectYou" class="empty_cell" class="cell letter"
                            v-if="turn.submarine.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/destroyer.pur.png" alt="">
                        </td>
                        <td v-for="(turn, index) in hitsAndSinksObjectYou" class="empty_cell" class="cell letter"
                            v-if="turn.destroyer.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/patrol.pur.png" alt="">
                        </td>
                        <td v-for="(turn, index) in hitsAndSinksObjectYou" class="empty_cell" class="cell letter"
                            v-if="turn.patrol.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="!shipsPlaced" class="shipG">
            <table class="table" id="empty-ship-grid">
                <tr>
                    <th class="cell letter" v-for="tableRow in tableRows" scope="row">{{tableRow}} </th>
                </tr>
                <tr v-for="(tableCol, index) in tableCols">
                    <td class="cell letter">{{tableCol}} </td>
                    <td class="empty_cell" v-bind:id="tableCol+'1ps'" @click="placeShipInThisCell(tableCol+'1ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'2ps'" @click="placeShipInThisCell(tableCol+'2ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'3ps'" @click="placeShipInThisCell(tableCol+'3ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'4ps'" @click="placeShipInThisCell(tableCol+'4ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'5ps'" @click="placeShipInThisCell(tableCol+'5ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'6ps'" @click="placeShipInThisCell(tableCol+'6ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'7ps'" @click="placeShipInThisCell(tableCol+'7ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'8ps'" @click="placeShipInThisCell(tableCol+'8ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'9ps'" @click="placeShipInThisCell(tableCol+'9ps')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'10ps'" @click="placeShipInThisCell(tableCol+'10ps')">
                    </td>
                </tr>
            </table>
            <button @click="clearShips" v-if="showClearButton" class="button add-padding">Clear</button>
            <button @click="sendShips" v-if="showConfirmButton" class="button add-padding">Confirm</button>
        </div>
        <div v-if="removeShipOptionsTable" class="salvoG">
            <table class="table">
                <tr>
                    <th class="cell letter" v-for="tableRow in tableRows" scope="row">{{tableRow}} </th>
                </tr>
                <tr v-for="(tableCol, index) in tableCols">
                    <td class="cell letter">{{tableCol}} </td>
                    <td class="empty_cell" v-bind:id="tableCol+'1s'" @click="placeSalvoInThisCell(tableCol+'1s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'2s'" @click="placeSalvoInThisCell(tableCol+'2s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'3s'" @click="placeSalvoInThisCell(tableCol+'3s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'4s'" @click="placeSalvoInThisCell(tableCol+'4s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'5s'" @click="placeSalvoInThisCell(tableCol+'5s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'6s'" @click="placeSalvoInThisCell(tableCol+'6s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'7s'" @click="placeSalvoInThisCell(tableCol+'7s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'8s'" @click="placeSalvoInThisCell(tableCol+'8s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'9s'" @click="placeSalvoInThisCell(tableCol+'9s')"></td>
                    <td class="empty_cell" v-bind:id="tableCol+'10s'" @click="placeSalvoInThisCell(tableCol+'10s')">
                    </td>
                </tr>
            </table>
            <button v-if="showConfirmSalvoesButton" @click="sendSalvoes" class="button"> Confirm </button>
            <button v-if="showConfirmSalvoesButton" @click="clearSalvoes" class="button"> Clear </button>
        </div>
        <div class="hits-and-sinks-table-opponent" v-if="shipsPlaced">
            <table class="ship-placement-table ship-placement">
                <thead>
                    <tr>
                        <!--th class="cell letter" scope="row"></th>
                            <th class="empty_cell" scope="row" v-for="(turn, index) in hitsAndSinksObjectOpponent">{{index}} </th-->
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/carrier.pur.png" alt="">
                        </td>
                        <td v-for="(turnOp, index) in hitsAndSinksObjectOpponent" class="empty_cell" class="cell letter"
                            v-if="turnOp.carrier.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/battleship.pur.png" alt="">
                        </td>
                        <td v-for="(turnOp, index) in hitsAndSinksObjectOpponent" class="empty_cell" class="cell letter"
                            v-if="turnOp.battleship.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/submarine.pur.png" alt="">
                        </td>
                        <td v-for="(turnOp, index) in hitsAndSinksObjectOpponent" class="empty_cell" class="cell letter"
                            v-if="turnOp.submarine.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/destroyer.pur.png" alt="">
                        </td>
                        <td v-for="(turnOp, index) in hitsAndSinksObjectOpponent" class="empty_cell" class="cell letter"
                            v-if="turnOp.destroyer.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="empty_cell" scope="col">
                            <img src="assets/patrol.pur.png" alt="">
                        </td>
                        <td v-for="(turnOp, index) in hitsAndSinksObjectOpponent" class="empty_cell" class="cell letter"
                            v-if="turnOp.patrol.sink !='1'">
                        </td>
                        <td class="empty_cell_sunk_ship" class="" v-else="">
                                <span class="glyphicon glyphicon-remove " style="font-size:17px;color:mediumorchid;"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-if="!removeShipOptionsTable" class="ship-placement-table ship-placement">
            <table class="table">
                <tr>
                    <th class="empty_cell cell letter ship-placement-table-cells">
                        <span class="player-modified">Type</span>
                    </th>
                    <th class="empty_cell cell letter ship-placement-table-cells">
                        <span class="player-modified">Length</span> </th>
                    <th class="empty_cell cell letter ship-placement-table-cells">
                        <span class="player-modified">Number</span> </th>
                </tr>
                <tr>
                    <td class="empty_cell ship-placement-table-cells">

                        <img @click="getShipTypeFromPlacementGrid(carrier, 5)" id="carrier" class="ship"
                            src="assets/carrier.pur.png" draggable=true alt="">

                    </td>
                    <td class="empty_cell cell letter ship-placement-table-cells">5</td>
                    <td class="empty_cell cell letter ship-placement-table-cells">1</td>
                </tr>
                <tr>
                    <td class="empty_cell cell letter ship-placement-table-cells">

                        <img @click="getShipTypeFromPlacementGrid(battleship, 4)" id="battleship" draggable=true
                            src="assets/battleship.pur.png" alt="">

                    </td>
                    <td class="empty_cell cell letter ship-placement-table-cells">4</td>
                    <td class="empty_cell cell letter ship-placement-table-cells">1</td>
                </tr>
                <tr>
                    <td class="empty_cell cell letter ship-placement-table-cells">

                        <img @click="getShipTypeFromPlacementGrid(submarine, 3)" id="submarine"
                            src="assets/submarine.pur.png" draggable=true alt="">

                    </td>
                    <td class="empty_cell cell letter ship-placement-table-cells">3</td>
                    <td class="empty_cell cell letter ship-placement-table-cells">1</td>
                </tr>
                <tr>
                    <td class="empty_cell cell letter ship-placement-table-cells">

                        <img @click="getShipTypeFromPlacementGrid(destroyer, 3)" id="destroyer"
                            src="assets/destroyer.pur.png" draggable=true alt="">

                    </td>
                    <td class="empty_cell cell letter ship-placement-table-cells">3</td>
                    <td class="empty_cell cell letter ship-placement-table-cells">1</td>
                </tr>
                <tr>
                    <td class="empty_cell cell letter ship-placement-table-cells">

                        <img @click="getShipTypeFromPlacementGrid(patrol, 2)" id="patrol" src="assets/patrol.pur.png"
                            draggable=true alt="">

                    </td>
                    <td class="empty_cell cell letter ship-placement-table-cells">2</td>
                    <td class="empty_cell cell letter ship-placement-table-cells">1</td>
                </tr>
            </table>
              
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js"> </script>
</body>

</html>