<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="./styles.css">   
    <title>Ship Locations!</title>
</head>

<body>
    <div class="container" id="game">
        <div class="heading" v-if="isLoaded">
            <span class="player">{{gamePlayerYou}}</span>
            <span class="vs">vs</span>
            <span class="player">{{gamePlayerOther}}</span>
        </div>
        <div class="table shipG">
            <table id="ship_grid">
                <tr>
                    <th class="cell letter" v-for="tableRow in tableRows" scope="row">{{tableRow}} </th>
                </tr>
                <tr v-for="(tableCol, index) in tableCols">
                    <td class="cell letter" >{{tableCol}} </td>
                    <td class="empty_cell" v-bind:id="tableCol+'1'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'2'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'3'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'4'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'5'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'6'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'7'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'8'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'9'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'10'" ></td>
                </tr>
            </table>
        </div>

        <div class="table salvoG">
            <table id="salvo_grid">
                <tr>
                    <th class="cell letter" v-for="tableRow in tableRows" scope="row">{{tableRow}} </th>
                </tr>
                <tr v-for="(tableCol, index) in tableCols">
                    <td class="cell letter" >{{tableCol}} </td>
                    <td class="empty_cell" v-bind:id="tableCol+'1s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'2s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'3s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'4s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'5s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'6s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'7s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'8s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'9s'" ></td>
                    <td class="empty_cell" v-bind:id="tableCol+'10s'" ></td>
                </tr>
            </table>
        </div>


    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="game.js"> </script>
</body>

</html>